* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
  }
  p,h1,h2,h3,h4,h5,h6{
    margin: 0;
  }
  
  .body {
        background-color: #fffdfd;
        width: 65%;
        margin: auto;
        display:grid;
        grid-template-columns: 54% 46%;
  }

  .images {
      width:1em;
     
  }

  .big-img img{
      width:30em;
      height:30em;
      margin: 4em 0 2em 0;
      border-radius: 1em;
  }

  .samples {
    display: flex;
    justify-content:space-between;
    /* not working for some reason */
  
}

.samples img {
  width:6em;
  margin:1em 1.9em 0 0;
  border-radius:1em;
}

.samples img:hover {
    border: 2px solid orange;
    opacity: 0.7;
    transition: opacity .25s ease-in-out;
}

  .description{
      
      width:100%;
      height:70%;
      margin:auto;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  h4 {
      color: rgb(241, 177, 57);
      margin:1em 0 2em 0;
  }

  h1 {
      font-weight: bold;
      margin-bottom: 1.5em;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 3em;
  }

  p{
      color:grey;
      line-height: 1.5em;
      margin-bottom: 1em;
      font-size: 1.3em;
    }


  h3{
      padding: .5em 0 .5em 0;
      font-weight: bold;
  }

  span{
      color: rgb(226, 149, 6);
      background-color: rgb(241, 226, 198);
      padding: 0 .4em;
      margin-left: .5em;
      font-size: small;
  }

  .cash{
    font-size: small;
    text-decoration: line-through;
  }

  .container{
      display: flex;
      padding:0;
      width: 100%;
  }

  .counter{
      border-radius: 1em;
      /* not working */
      background-color:rgb(241, 241, 241);
      padding:.5em;
      margin-top: .5em;
      width: 35%;
  }
  .counter-text{
      width: 33.3%;
      border: none;
      text-align: center;
      background-color:rgb(241, 241, 241);
      padding: .3em 0;
      font-size: large;
      font-weight: bold;
      outline: none;
  }

  .counter-text:active{
    border: none;
    outline: none;
  }

  .counter-sign {
    border: none;
    width: 33%;
    background-color:rgb(241, 241, 241);
    padding: .5em 0;
    font-size: larger;
    color:rgb(236, 156, 5);
    font-weight: bold;
  }

  button{
    border: none;
    background-color: orange;
    width: 60%;
    color: white;
    border-radius: 1em;
    font-weight: bold;
    margin-left: 1em;
    padding: 0; 
  }

  .cart_button{
    background-color: orange;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }
  .cart_button, svg{
    margin-right: 1rem;
  }
  


