* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0;
  }
  
  nav {
    background-color: #fffdfd;
    width: 80%;
    margin: auto;
    display : flex;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid black;
  }
  
  nav ul {
    list-style-type: none;
    margin-top: 20px;
  }
  
  nav li a {
    text-decoration: none;
    color: grey;
    display: block;
    text-align: center;
    padding: 20px 30px;
  }
  
  nav li {
    float: left;
  }
  
  
  li a:hover {
    background-color: lightgrey;
    transition: 1s;
    color: white;
    padding: .9em;
    border-radius: .5em;
  }

 
   .icons img {
       margin: .5em 1em;
       width: 1.5em;
   }

  .icons .profile {
       width: 3em;
       border-radius: 2em;
       box-shadow:0px 1px 10px 1px lightgrey; 
       margin-top: 2em;
   }

   .icons .cart {
       margin-top: 0;
       margin-bottom: 1em;
   }

  